<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phony.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>003C87091DDB9B8200416F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>003C87211DDB9B8200416F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>003C872C1DDB9B8200416F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
