/*

    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/

.cm-s-deco {
  background: rgb(35,36,46);
  color: rgba(233, 237, 237, 1);
}
.cm-s-deco .CodeMirror-gutters {
  background: rgb(35,36,46);
  color: #546E7A;
  border: none;
  padding-right: 20px;
}

.cm-s-deco .CodeMirror-guttermarker, .cm-s-deco .CodeMirror-guttermarker-subtle, .cm-s-deco .CodeMirror-linenumber { color: #39505b; font-weight: 400; }
.cm-s-deco .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.cm-s-deco div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
.cm-s-deco.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-deco .CodeMirror-line::selection, .cm-s-deco .CodeMirror-line > span::selection, .cm-s-deco .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-deco .CodeMirror-line::-moz-selection, .cm-s-deco .CodeMirror-line > span::-moz-selection, .cm-s-deco .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

.cm-s-deco .CodeMirror-activeline-background { background: rgba(255, 255, 255, 0.05); }
.cm-s-deco .cm-keyword { color: rgba(199, 146, 234, 1); }
.cm-s-deco .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-deco .cm-variable-2 { color: #80CBC4; }
.cm-s-deco .cm-variable-3 { color: #82B1FF; }
.cm-s-deco .cm-builtin { color: #DECB6B; }
.cm-s-deco .cm-atom { color: #F77669; }
.cm-s-deco .cm-number { color: #F77669; }
.cm-s-deco .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-deco .cm-string { color: #C3E88D; }
.cm-s-deco .cm-string-2 { color: #80CBC4; }
.cm-s-deco .cm-comment { color: #546E7A; }
.cm-s-deco .cm-variable { color: #82B1FF; }
.cm-s-deco .cm-tag { color: #80CBC4; }
.cm-s-deco .cm-meta { color: #80CBC4; }
.cm-s-deco .cm-attribute { color: #FFCB6B; }
.cm-s-deco .cm-property { color: #80CBAE; }
.cm-s-deco .cm-qualifier { color: #DECB6B; }
.cm-s-deco .cm-variable-3 { color: #DECB6B; }
.cm-s-deco .cm-tag { color: rgba(255, 83, 112, 1); }
.cm-s-deco .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #EC5F67;
}
.cm-s-deco .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
