/* Based on Sublime Text's Monokai theme */

.cm-s-proto.CodeMirror {
    background: rgb(35,36,38);
    color: #f8f8f2;
    line-height: 1.5em;
    font-family: "Menlo", "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.cm-s-proto div.CodeMirror-selected {
    background: rgba(93, 92, 99, .5) !important;
}

.cm-s-proto .CodeMirror-line::selection,
.cm-s-proto .CodeMirror-line > span::selection,
.cm-s-proto .CodeMirror-line > span > span::selection {
    background: rgba(93, 92, 99, .99);
}

.cm-s-proto .CodeMirror-line::-moz-selection,
.cm-s-proto .CodeMirror-line > span::-moz-selection,
.cm-s-proto .CodeMirror-line > span > span::-moz-selection {
    background: rgba(93, 92, 99, .99);
}

.cm-s-proto .CodeMirror-gutters {
    background: rgb(35,36,38);
    border-right: 0px;
    padding-right: 4px;
}

.cm-s-proto .CodeMirror-guttermarker {
    color: white;
}

.cm-s-proto .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.cm-s-proto .CodeMirror-linenumber {
    color: #505050;
    font-weight: 100;
}

.cm-s-proto .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-fat-cursor .CodeMirror-cursor {
    border: 0 !important;
    background: #3399ff !important;
    border-left: 1px solid black !important;
}

.cm-s-proto .cm-animate-fat-cursor {
    background-color: #3399ff !important;
}

.cm-s-proto span.cm-comment {
    color: #75715e;
}

.cm-s-proto span.cm-atom {
    color: #ae81ff;
}

.cm-s-proto span.cm-number {
    color: #ae81ff;
}

.cm-s-proto span.cm-property,
.cm-s-proto span.cm-attribute {
    color: #a6e22e;
}

.cm-s-proto span.cm-keyword {
    color: #f92672;
}

.cm-s-proto span.cm-string {
    color: #e6db74;
}

.cm-s-proto span.cm-variable {
    color: #f8f8f2;
}

.cm-s-proto span.cm-variable-2 {
    color: #9effff;
}

.cm-s-proto span.cm-variable-3 {
    color: #66d9ef;
}

.cm-s-proto span.cm-def {
    color: #fd971f;
}

.cm-s-proto span.cm-bracket {
    color: #f8f8f2;
}

.cm-s-proto span.cm-tag {
    color: #f92672;
}

.cm-s-proto span.cm-header {
    color: #ae81ff;
}

.cm-s-proto span.cm-link {
    color: #ae81ff;
}

.cm-s-proto span.cm-error {
    background: #f92672;
    color: #f8f8f0;
}

.cm-s-proto .CodeMirror-activeline-background {
    background: rgba(55,56,59,0.4) !important;
}

.cm-s-proto .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
