{
    "rules": {
        "semi": [2, 'never'],
        "new-cap": 2,
        "constructor-super": 2,
        "no-const-assign": 2,
        "no-this-before-super": 2,
        "prefer-const": 2,
        "new-parens": 2,
    },
    "parserOptions": {
        "sourceType": "module",
    },
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "node": true,
        "commonjs": true,
        "mocha": true,
    }
}
